[Unit]
Description=PSH Background Demo

[Service]
ExecStart=/usr/local/bin/bg-demo
StandardOutput=journal+console
StandardError=journal+console
Restart=always

[Install]
WantedBy=multi-user.target
